#btn{
    display: block;
    margin: auto;
    background-color: bisque;
    box-shadow: 0 0 10px rgba(255, 218, 115, 0.7), 0 0 15px rgba(255, 218, 115, 0.8);
    transition: box-shadow 0.4s ease-out;
}

#btn:hover {
    /* Increase glow effect on hover */
    box-shadow: 0 0 20px rgba(255, 218, 115, 1), 0 0 30px rgba(255, 218, 115, 1);
}

#cats{
    display: block;
    padding-top: 200px;
    margin: auto;
   
}